
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    
    <title>Document</title>
</head>
<body>
    <div class="form-structor">
        <div class="signup">
            <h2 class="form-title" id="signup"><span>or </span>Sign up</h2>
            <div class="form-holder">
                <input type="text" class="input" placeholder="Name"  id = "regiName"/>
                <input type="email" class="input" placeholder="Email" id = "regiEmail"/>
                <input type="password" class="input" placeholder="Password" id = "regiPassword"/>
            </div>
            <button class="submit-btn" onclick="register()">Sign up</button>
        </div>
        <div class="login slide-up">
            <div class="center">
                <h2 class="form-title" id="login"><span>or </span>Log in</h2>
                <div class="form-holder">
                    <input type="email" class="input" placeholder="Email" id = "email"/>
                    <input type="password" class="input" placeholder="Password" id = "password"/>
                </div>
                <button class="submit-btn" onclick="login()">Log in</button>
            </div>
        </div>
    </div>
</body>
<script src="./index.js"></script>
<script>
    const login = async()=> {
        const email = document.querySelector("#email").value; //表单的邮箱密码
        const password = document.querySelector("#password").value;
        const res = await fetch("http://localhost:3030/login" ,{method: "post", headers: { "Content-type": "application/json" }, body: JSON.stringify({email, password})});
        const data = await res.json();
        console.log(data);

    }

    const register = async () => {
        const nickname = document.querySelector("#regiName").value;
        const email = document.querySelector("#regiEmail").value;
        const password = document.querySelector("#regiPassword").value;
        const res = await fetch("http://localhost:3030/register", {method: "post", headers: {"Content-type": "application/json"}, body:JSON.stringify({nickname, email, password})});
        const data = await res.json();
        console.log(data);
    }
</script>
</html>
