<h1 align="center">WELCOME TO <logo>HomePage</logo></h1>

<body>
    <main align="center">
        
          <p><a href="/client">client</a></p>
          <p><a href="/all-product">home</a></p>
    </main>

<script>
    const  = fetch("http://localhost:3030/register")
</script>

</body>

