<table align="center" border="1" style="border-collapse: collapse">
    <tr>
        <th>products</th>
    </tr>
    
    {{#each products}}
    <tr>
        <td><a href="/home/{{this._id}}">{{this.productName}}</a></td>
    </tr>
    {{/each}}
</table>
